@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .hero-btn {
        @apply px-6 py-2 border border-[#242424] cursor-pointer rounded-full uppercase text-sm tracking-widest text-gray-500 transition-all
    }
}